:root {
  --primary-color: #896f3d;
  --secondary-color: #102134;
  --terciary-color: #ffffff;
  --fonte-principal: "BBH Bogle", sans-serif;
  --hover-color: #770101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--terciary-color);
  font-family: var(--fonte-principal);
  font-weight: 100;
  font-size: 20px;
}
main {
  background-color: var(--secondary-color);
  padding: 25px;
}

section {
  height: 100vh;
}

.title {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 100;
}
