.main-header {
  background-color: var(--primary-color);
}

.list-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-links li {
  margin: 50px;
  list-style: none;
}

.list-links li a {
  text-decoration: none;
  color: var(--terciary-color);
  font-size: 20px;
}

.list-links li a:hover {
  color: var(--hover-color);
}

.albuns .images-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 375px;
  width: 375px;
}

.albuns .images-gallery .gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.albuns .images-gallery .content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.albuns .images-gallery .content:hover {
  opacity: 1;
}

.albuns .images-gallery .gallery-item.first {
  background: url(../img/Renaissance.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.albuns .images-gallery .gallery-item.second {
  background: url(../img/Atavista.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.albuns .images-gallery .gallery-item.third {
  background: url(../img/My\ 21st\ Century\ Blues.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.albuns .images-gallery .gallery-item.fourth {
  background: url(../img/Gasoline.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.albuns .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 225px;
}

/*SERIES*/

.series h2 {
  margin: 25px 0 25px 55px;
}

.series .series-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  height: 400px;
}

.series .series-gallery .gallery-item.one {
  background: url(../img/Interview-with-the-vampire.jpg) no-repeat;
  background-size: cover;
}

.series .series-gallery .gallery-item.two {
  background: url(../img/Succession.jpg) no-repeat;
  background-size: cover;
}

.series .series-gallery .gallery-item.three {
  background: url(../img/Foundation.jpg) no-repeat;
  background-size: cover;
}

.series .series-gallery .gallery-item.four {
  background: url(../img/Severance.jpg) no-repeat;
  background-size: cover;
}

.series .series-gallery .gallery-item.five {
  background: url(../img/Abbot-elementary.jpg) no-repeat;
  background-size: cover;
}

.series .series-gallery .gallery-item.six {
  background: url(../img/Fleabag.jpg) no-repeat;
  background-size: cover;
}

.series .series-gallery .gallery-item.seven {
  background: url(../img/Barry.jpg) no-repeat;
  background-size: cover;
}

.series .series-gallery .gallery-item.eight {
  background: url(../img/Good-omens.jpg) no-repeat;
  background-size: cover;
}

.series .series-gallery .gallery-item.nine {
  background: url(../img/Insecure.jpg) no-repeat;
  background-size: cover;
}

.series .series-gallery .gallery-item.ten {
  background: url(../img/Never-have-i-ever.jpg) no-repeat;
  background-size: cover;
}

.series .series-gallery .gallery-item.eleven {
  background: url(../img/I-may-destroy-you.jpg) no-repeat;
  background-size: cover;
}

.series .series-gallery .gallery-item.twelve {
  background: url(../img/Rick&Morty.jpg) no-repeat;
  background-size: cover;
}
