.main-header {
  background-color: var(--cinza-titulo);
}

.list-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-links li {
  margin: 50px;
  list-style: none;
}

.list-links li a {
  text-decoration: none;
  color: var(--branco-texto);
  font-size: 20px;
}

.list-links li a:hover {
  color: var(--hover-color);
}

.album-section {
  background-color: var(--preto-texto);
}

.album-section .images-gallery {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 450px;
}

.album-section .images-gallery .first-gallery-item {
  background: url(../img/Renaissance.png) no-repeat;
  background-size: cover;
}

.album-section .images-gallery .second-gallery-item {
  background: url(../img/Atavista.png) no-repeat;
  background-size: cover;
}

.album-section .images-gallery .third-gallery-item {
  background: url(../img/My\ 21st\ Century\ Blues.png) no-repeat;
  background-size: cover;
}

.album-section .images-gallery .fourth-gallery-item {
  background: url(../img/Gasoline.png) no-repeat;
  background-size: cover;
}

.album-section .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
  height: 550px;
}
